.table {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
img {
  width: 80px;
  height: 80px;
}

.colomnHead {
  font-size: large;
  display: inline-block;
}